.modal{
    width:50%;
    height: 300px;
    position: fixed;
    margin:0 auto;
    top:20vh;
    left:0;
    right:0;
    background:rgb(212, 217, 223);
    box-shadow: rgba(0, 0,0, 0.25);
    z-index: 200;
   
}
.modal__header{
    background:rgb(38, 114, 139);
    padding:2em;
}
.modal__content{
    padding:5%;
}
.modal__actions{
    position:absolute;
    width:100%;
    bottom:5%;
    display: flex;
    justify-content: flex-end;

}   
.btn{
    background:rgb(35, 134, 141);
    margin: 0 15px;
    padding:10px;
}
