.events{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border:1px solid rgb(14, 59, 143);
    
}

.events-control{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
}
.events-intro{
    font-size: 2em;
}


.events__list li:nth-child(even){
   background:whitesmoke;
}
.btn-event{
    padding:10px 0;
}

.wrapper{
    height: 100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

