.events{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border:1px solid rgb(14, 59, 143);
    
}

.events-control{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
}
.events-intro{
    font-size: 2em;
}
.events__list{
    margin:0;
    padding: 5% 0;
    list-style-type: none;
}
.events__list li{
    border:1px solid rgba(17, 17, 107, 0.411);
    padding:25px;
    margin:5px;
    color:rgb(16, 16, 94);
}
.events__list li:nth-child(even){
   background:whitesmoke;
}
.btn-event{
    padding:10px 0;
}